body {
	font-family: "Avenir Light", Helvetica;
    font-weight: 300;
    padding: 100px;
}

img {
	max-width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 30pt;
  letter-spacing: 2px;
  color: #64B3DF;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14pt;
  color: #00A3D8;
}

a {
  color: #00A3D8;
  text-decoration: none;
}

h3 {
  font-weight: 100;
}